body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #FFCC00;
    padding: 60px;
    text-align: center;
}

header h2{
    font-size: 1rem;
    font-weight: normal;
}

main{
    padding: 30px;
    text-align: center;
}

h3{
    margin: 20px;
    text-transform: uppercase;
}

.details{
    display: flex;
    gap: 20px;
}

.card{
    background-color: #FFCC00;
    padding: 16px;
    border-radius: 5px;
    text-align: justify;
}

.image-card{
    background-color: #FFCC00;
    border: 1px solid #e2e2e2;
    padding:10px;
}

img[alt="Imagem-Pokemon"]{
    width: 100%;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}